<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Update hwCustomer</title>
  <link th:href="@{css/style.css}" rel="stylesheet">
  <meta charset="UTF-8">
</head>
<body>

<form th:object="${hwCustomer}" th:action="@{/hwCustomer/update/{id}(id=${hwCustomer.id})}" method="post">

  <h1>Update hwCustomer</h1>
  <br>
  firstName<input type="text" th:field="*{firstName}">
  <br>
  lastName<input type="text" th:field="*{lastName}">
  <br>
  birthDate<input type="text" th:field="*{birthDate}">
  <br>
  phone<input type="text" th:field="*{phone}">
  <br>
  address<input type="text" th:field="*{address}">
  <br>
  city<input type="text" th:field="*{city}">
  <br>
  state<input type="text" th:field="*{state}">
  <br>
  points<input type="text" th:field="*{points}">
  <br>

  <input type="submit" value="UPDATE">
</form>
</body>
</html>
