.news-preview {
    width: 320px;
    float: left;
}

.news-preview img {
    width: 320px;
}

#content-td {
    vertical-align: top;
}

.news-preview .header-td {
    text-align: center;
}

#img-td img {
    width: 800px;
}

#img-td {
    text-align: center;
}

#single-news {
    width: 100%;
}

.comment {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.comment .icon img {
    width: 50px;
}

.comment .name {
    width: 100px;
}

#menu-td {
    vertical-align: top;
}










.home-header-tr {
    background-color: #D4F9FD;
}

.top-comments-header-tr {
     background-color: #F2D4FD;
}

.top-users-header-tr {
     background-color: #FDF9D4;
}

#header-tr img {
    height: 80px;
    margin-left: 50px;
}

#footer-tr img {
     height: 50px;
     float: right;
     margin-right: 50px;
 }

#wrapper {
    width: 1200px;
    margin: 0px auto;
}

#header-tr, #footer-tr {
    height: 100px;
}

#menu-td {
    width: 200px;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');

.container{
  padding: 10px;
}

.card{
  width: 180px;
  height: 420px;
  background-color: #1E2B32;
  border-radius: 10px 10px;
}

.header{
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  background-color: #2A3942;
}

h3{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  margin-left: 1rem;
}

.iconM{
  font-size: 18px;
  margin-left: 170px;
  color: #2f89fc;
}

.icon{
  margin-right: 8px;
}

.body li{
  transition: 1s all;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 15px;
  margin-left: -40px;
  margin-top: 0px;
  color: #fff;
  list-style: none;
  display: block;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

.body li a{
  transition: 1s all;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

li:hover{
  transition: 1s all;
  color: #2f89fc;
  background-color: rgba(42, 56, 65, 0.82);
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  cursor: pointer;
}

.body > li{
  float: left;
}

.body li ul{
  background: #1E2B32;
  margin-left: 160px;
  margin-top: -38px;
  display: none;
  position: absolute;
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

.body li:hover > ul{
  display: block;
  cursor: pointer;
}
