<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bobson-news</title>
    <link th:href="@{css/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
</head>

<body>

<table id="wrapper" border="1">
    <tr id="header-tr" class="home-header-tr">
        <td colspan="2">
            <img src="https://www.onlygfx.com/wp-content/uploads/2017/12/fake-news-stamp-4.png">
        </td>
    </tr>
    <tr>
        <td id="menu-td">

            <div class="container">
                <div class="card">
                    <div class="header">
                        <h3>Bob-menu<i class="fas fa-angle-down iconM"></i></h3>
                    </div>
                    <div class="body">
                        <ul>
                            <li><i class="fas fa-home icon"></i> <a href="index.html">Home</a></li>
                            <li><i class="fas fa-underline icon"></i> <a href="top-users.html">Top users</a></li>
                            <li><i class="fas fa-boxes icon"></i> <a href="top-comments.html">Top comments</a></li>
                            <li><i class="fab fa-wpforms icon"></i> Example
                                <ul>
                                    <li><i class="fas fa-pencil-alt icon"></i> First Example</li>
                                    <li><i class="fas fa-paper-plane icon"></i> Second Example</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </td>
        <td id="content-td">

            <table class="news-preview" th:each="singleNews : ${allNews}">
                <tr>
                    <td class="img-td">
                        <a th:href="@{single-news/{id}(id=${singleNews.id})}">
                            <img th:src="${singleNews.imageUrl}">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="header-td">
                      <a th:href="@{single-news/{id}(id=${singleNews.id})}">
                          <span th:text="${singleNews.header}"></span>
                        </a>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr id="footer-tr">
        <td colspan="2">
            <img src="https://www.onlygfx.com/wp-content/uploads/2017/12/fake-news-stamp-4.png">
        </td>
    </tr>
</table>



</body>

</html>
